* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
}

header {
    height: 70px;
    color: white;
}

.flex {
    display: flex;
}

.boxed {
    max-width: 1750px;
    margin: 0 auto;
}

.contHeader span {
    padding: 5px;
    background-color: lightgray;
    border-radius: 3px;
    margin: 5px;
}

.contHeader {
    justify-content: end;
}

.contMain {
    height: calc( 100vh - 70px - 85px );
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-y: auto;
}

.card {
    width: calc( 100% / 7 - 5px);
    height: 200px;
    padding: 5px 0;
}

img {
    height: 100%;
    width: 100%;
}

.relative {
    position: relative;
}

.card i {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: white;
    font-size: 12px;
}

.contFooter {
    background-color: #222222;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 10px;
}

.boxleft,.boxcenter span {
    font-size: 40px;
    padding: 0 10px;
}

.boxright span {
    background-color: lightgray;
    color: red;
    padding: 35px 20px;
}